{% load static %}
{% load django_bootstrap5 %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Informant</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link href="{% static 'public/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'public/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'public/sb-admin-2/js/sb-admin-2.min.js' %}"></script>

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">informant</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Options -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Options</span>
                    </a>
                </li>

                <!-- Nav Item - Tables -->
                <div class="sidebar-heading">
                    Previous
                    <ul>
                        {% for value in recent_searches %}
                        <li class="nav-item"> <a href="/results/?prev={{value}}">{{ value }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            {% block content %} This is the content {% endblock %}
        </div>
</body>

</html>
